<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Meal List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Meal ID</th>
            <th>Meal Name</th>
            <th>Meal Description</th>
            <th>Carbs</th>
            <th>Kcal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal : ${meals}">
            <td th:text="${meal.mealId}"></td>
            <td th:text="${meal.mealName}"></td>
            <td th:text="${meal.mealDescription}"></td>
            <td th:text="${meal.carbs}"></td>
            <td th:text="${meal.kcal}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/meal-form" class="btn btn-primary">Add New Meal</a>
</div>
</body>
</html>
