<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Meal List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Meal Image</th>
            <th>Meal ID</th>
            <th>Meal Name</th>
            <th>Meal Type</th>
            <th>Meal Description</th>
            <th>Carbs</th>
            <th>Kcal</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal : ${meals}">
            <td><img th:src="${meal.mealImage}" alt="Meal Image" style="width: 100px; height: auto;"></td>
            <td th:text="${meal.id}"></td>
            <td th:text="${meal.mealName}"></td>
            <td th:text="${meal.mealType}"></td>
            <td th:text="${meal.mealDescription}"></td>
            <td th:text="${meal.carbs}"></td>
            <td th:text="${meal.kcal}"></td>
            <td>
                <a th:href="@{'/meals/edit/' + ${meal.id}}" class="btn btn-secondary">Edit</a>
                <form th:action="@{'/meals/delete/' + ${meal.id}}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/meals/new/' + ${userId}}" class="btn btn-primary">Add New Meal</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
